In [22]:
import pandas as pd
import copy

In [34]:
dataset_test = pd.read_csv("/home/acarlier/code/OrnithoScope_keras/keras_yolo2/birds_data_csv/input_test.csv",
                           names=['task_name','xmin','xmax','ymin','ymax','label','h','w'])
dataset_test.head(3)

,task_name,xmin,xmax,ymin,ymax,label,h,w
0,task_2021-03-01_09/20210301-090002_(13.0).jpg,488.256,40.3648,881.856,769.7600,VEREUR,1920,1088
1,task_2021-03-01_09/20210301-090008_(9.0).jpg,1024.704,441.7280,1366.272,1082.3424,MESCHA,1920,1088
2,task_2021-03-01_09/20210301-090012_(23.0).jpg,1001.472,599.9232,1916.160,1088.0000,MESCHA,1920,1088

In [36]:
def df_to_grouped_csv(_df):
    df = copy.deepcopy(_df)
    df[['_task_name', 'file_name']] = df['task_name'].str.split('/', 1, expand=True)
    df_group = df.groupby(['_task_name'])
    for name, group in df_group:
        outfile = f"{name}.csv"
        #group['task_name'] = group['_task_name'] + '-' + group['file_name']
        group[['task_name','xmin','xmax','ymin','ymax','label','h','w']].to_csv(
            f"/home/acarlier/code/OrnithoScope_keras/keras_yolo2/birds_data_csv/input_test_per_tasks/{outfile}", 
            index=False,header=False)

In [37]:
df_to_grouped_csv(dataset_test)

In [10]:
_.shape

AttributeError: 'DataFrameGroupBy' object has no attribute 'shape'