In [48]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
import numpy as np

# With classic F1

In [49]:
val_losses_data_augmentation = {
    'cap100v0': [32,23.84097],
    'cap100v1': [31,23.24258],
    'cap100v2': [44,20.07685],
    'cap100v3': [40,18.52420],
    'cap300v0': [40,12.09515],
    'cap300v1': [37,12.69124],
    'cap300v2': [43,11.36737]
}

In [54]:
df_data_aug_comparaison_f1 = pd.DataFrame(index=["full","cap300","cap100","filled1000","iNat1000","iNat5000"],
                                       columns=["None","v0","v1","v2","v3",])
df_data_aug_comparaison_f1

           None   v0   v1   v2   v3
full        NaN  NaN  NaN  NaN  NaN
cap300      NaN  NaN  NaN  NaN  NaN
cap100      NaN  NaN  NaN  NaN  NaN
filled1000  NaN  NaN  NaN  NaN  NaN
iNat1000    NaN  NaN  NaN  NaN  NaN
iNat5000    NaN  NaN  NaN  NaN  NaN

In [64]:
df_data_aug_comparaison_f1.at['full','None'] = 0.899
df_data_aug_comparaison_f1.at['cap300','None'] = 0.823
#df_data_aug_comparaison_f1.at['cap300','v0'] = 0.709
df_data_aug_comparaison_f1.at['cap100','None'] = 0.791
df_data_aug_comparaison_f1.at['cap100','v0'] = 0.802
df_data_aug_comparaison_f1.at['cap100','v1'] = 0.801
df_data_aug_comparaison_f1.at['cap100','v2'] = 0.833
df_data_aug_comparaison_f1.at['cap100','v3'] = 0.824
df_data_aug_comparaison_f1.at['cap300','v0'] = 0.913
df_data_aug_comparaison_f1.at['cap300','v1'] = 0.908
df_data_aug_comparaison_f1.at['cap300','v2'] = 0.917
df_data_aug_comparaison_f1.at['cap300','v3'] = 0.904
df_data_aug_comparaison_f1

             None     v0     v1     v2     v3
full        0.899    NaN    NaN    NaN    NaN
cap300      0.823  0.913  0.908  0.917  0.904
cap100      0.791  0.802  0.801  0.833  0.824
filled1000    NaN    NaN    NaN    NaN    NaN
iNat1000      NaN    NaN    NaN    NaN    NaN
iNat5000      NaN    NaN    NaN    NaN    NaN

In [62]:
with open('../../data/pickles/MobileNet_2022-04-28-13:36:13/P_R_F1_global_MobileNet_input_test.p', 'rb') as fp:
    _ = pickle.load(fp)

In [63]:
_

[0.961, 0.877, 0.917]

In [26]:
df_data_aug_comparaison_f1.to_pickle("../data/pickles/data_augmentation/df_data_aug_comparaison.p")

# With mean F1

In [46]:
df_data_aug_comparaison_f1_mean = pd.DataFrame(index=["full","cap300","cap100","filled1000","iNat1000","iNat5000"],
                                       columns=["None","v0","v1","v2","v3",])

In [47]:
df_data_aug_comparaison_f1_mean

           None   v0   v1   v2   v3
full        NaN  NaN  NaN  NaN  NaN
cap300      NaN  NaN  NaN  NaN  NaN
cap100      NaN  NaN  NaN  NaN  NaN
filled1000  NaN  NaN  NaN  NaN  NaN
iNat1000    NaN  NaN  NaN  NaN  NaN
iNat5000    NaN  NaN  NaN  NaN  NaN