In [77]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
import numpy as np
from statistics import mean

# Tests

In [ ]:
with open('../../data/pickles/MobileNet_2022-04-28-13:36:13/P_R_F1_global_MobileNet_input_test.p', 'rb') as fp:
    _ = pickle.load(fp)
_

In [ ]:
with open('/home/acarlier/code/project_ornithoScope/src/data/pickles/data_augmentation/MobileNet_caped_100_data_aug_none/P_R_F1_MobileNet_input_test.p', 'rb') as fp:
    _ = pickle.load(fp)
_
get_mean_f1_filtered('../../data/pickles/data_augmentation/MobileNet_caped_100_data_aug_none/P_R_F1_MobileNet_input_test.p')

# With classic F1

In [78]:
val_losses_data_augmentation = {
    'cap100v0': [32,23.84097],
    'cap100v1': [31,23.24258],
    'cap100v2': [44,20.07685],
    'cap100v3': [40,18.52420],
    'cap300v0': [40,12.09515],
    'cap300v1': [37,12.69124],
    'cap300v2': [43,11.36737],
    'fullv0': [37,17.16107],
    'fullv1': [12,12.2336]
}

In [79]:
df_data_aug_comparaison_f1 = pd.DataFrame(index=["full","cap100","cap300","filled1000","iNat1000","iNat5000"],
                                       columns=["None","v0","v1","v2","v3",])
df_data_aug_comparaison_f1

           None   v0   v1   v2   v3
full        NaN  NaN  NaN  NaN  NaN
cap100      NaN  NaN  NaN  NaN  NaN
cap300      NaN  NaN  NaN  NaN  NaN
filled1000  NaN  NaN  NaN  NaN  NaN
iNat1000    NaN  NaN  NaN  NaN  NaN
iNat5000    NaN  NaN  NaN  NaN  NaN

In [80]:
df_data_aug_comparaison_f1.at['cap100','None'] = 0.791
df_data_aug_comparaison_f1.at['cap100','v0'] = 0.802
df_data_aug_comparaison_f1.at['cap100','v1'] = 0.801
df_data_aug_comparaison_f1.at['cap100','v2'] = 0.833
df_data_aug_comparaison_f1.at['cap100','v3'] = 0.824

df_data_aug_comparaison_f1.at['cap300','None'] = 0.823
df_data_aug_comparaison_f1.at['cap300','v0'] = 0.913
df_data_aug_comparaison_f1.at['cap300','v1'] = 0.908
df_data_aug_comparaison_f1.at['cap300','v2'] = 0.917
df_data_aug_comparaison_f1.at['cap300','v3'] = 0.904

df_data_aug_comparaison_f1.at['full','None'] = 0.818
df_data_aug_comparaison_f1.at['full','v0'] = 0.796
df_data_aug_comparaison_f1.at['full','v1'] = 0.81

df_data_aug_comparaison_f1

             None     v0     v1     v2     v3
full        0.818  0.796   0.81    NaN    NaN
cap100      0.791  0.802  0.801  0.833  0.824
cap300      0.823  0.913  0.908  0.917  0.904
filled1000    NaN    NaN    NaN    NaN    NaN
iNat1000      NaN    NaN    NaN    NaN    NaN
iNat5000      NaN    NaN    NaN    NaN    NaN

In [82]:
df_data_aug_comparaison_f1.to_pickle("../../data/pickles/data_augmentation/df_data_aug_comparaison.p")

# With mean F1

In [83]:
df_data_aug_comparaison_f1_mean = pd.DataFrame(index=["full","cap100","cap300","filled1000","iNat1000","iNat5000"],
                                       columns=["None","v0","v1","v2","v3",])
df_data_aug_comparaison_f1_mean

           None   v0   v1   v2   v3
full        NaN  NaN  NaN  NaN  NaN
cap100      NaN  NaN  NaN  NaN  NaN
cap300      NaN  NaN  NaN  NaN  NaN
filled1000  NaN  NaN  NaN  NaN  NaN
iNat1000    NaN  NaN  NaN  NaN  NaN
iNat5000    NaN  NaN  NaN  NaN  NaN

In [84]:
def get_mean_f1(path):
    list_F1 = []
    with open(path, 'rb') as fp:
        _ = pickle.load(fp)
    for elem in _:
        list_F1.append(elem['F-score'])
    return round(mean(list_F1),3)

In [86]:
base_path = '../../data/pickles/data_augmentation/'
df_data_aug_comparaison_f1_mean.at['cap100','None'] = get_mean_f1(base_path+'MobileNet_caped_100_data_aug_none/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean.at['cap100','v0'] = get_mean_f1(base_path+'MobileNet_caped_100_data_aug_v0/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean.at['cap100','v1'] = get_mean_f1(base_path+'MobileNet_caped_100_data_aug_v1/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean.at['cap100','v2'] = get_mean_f1(base_path+'MobileNet_caped_100_data_aug_v2/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean.at['cap100','v3'] = get_mean_f1(base_path+'MobileNet_caped_100_data_aug_v3/P_R_F1_MobileNet_input_test.p')

df_data_aug_comparaison_f1_mean.at['cap300','None'] = get_mean_f1(base_path+'MobileNet_caped_300_data_aug_none/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean.at['cap300','v0'] = get_mean_f1(base_path+'MobileNet_caped_300_data_aug_v0/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean.at['cap300','v1'] = get_mean_f1(base_path+'MobileNet_caped_300_data_aug_v1/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean.at['cap300','v2'] = get_mean_f1(base_path+'MobileNet_caped_300_data_aug_v2/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean.at['cap300','v3'] = get_mean_f1(base_path+'MobileNet_caped_300_data_aug_v3/P_R_F1_MobileNet_input_test.p')

df_data_aug_comparaison_f1_mean.at['full','None'] = get_mean_f1(base_path+'MobileNet_full_data_aug_none/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean.at['full','v0'] = get_mean_f1(base_path+'MobileNet_full_data_aug_v0/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean.at['full','v1'] = get_mean_f1(base_path+'MobileNet_full_data_aug_v1/P_R_F1_MobileNet_input_test.p')

df_data_aug_comparaison_f1_mean

             None     v0     v1     v2     v3
full         0.49  0.494  0.395    NaN    NaN
cap100      0.647  0.689  0.655  0.702  0.647
cap300      0.672   0.81  0.793  0.815  0.776
filled1000    NaN    NaN    NaN    NaN    NaN
iNat1000      NaN    NaN    NaN    NaN    NaN
iNat5000      NaN    NaN    NaN    NaN    NaN

# F1 mean without camp and meshup

In [87]:
df_data_aug_comparaison_f1_mean_filtered = pd.DataFrame(index=["full","cap100","cap300","filled1000","iNat1000","iNat5000"],
                                       columns=["None","v0","v1","v2","v3",])
df_data_aug_comparaison_f1_mean_filtered

           None   v0   v1   v2   v3
full        NaN  NaN  NaN  NaN  NaN
cap100      NaN  NaN  NaN  NaN  NaN
cap300      NaN  NaN  NaN  NaN  NaN
filled1000  NaN  NaN  NaN  NaN  NaN
iNat1000    NaN  NaN  NaN  NaN  NaN
iNat5000    NaN  NaN  NaN  NaN  NaN

In [88]:
def get_mean_f1_filtered(path):
    list_F1 = []
    with open(path, 'rb') as fp:
        _ = pickle.load(fp)
    for elem in _:
        list_F1.append(elem['F-score'])
    list_F1.pop(-1)
    list_F1.pop(-2)
    return round(mean(list_F1),3)

In [89]:
base_path = '../../data/pickles/data_augmentation/'
df_data_aug_comparaison_f1_mean_filtered.at['cap100','None'] = get_mean_f1_filtered(base_path+'MobileNet_caped_100_data_aug_none/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean_filtered.at['cap100','v0'] = get_mean_f1_filtered(base_path+'MobileNet_caped_100_data_aug_v0/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean_filtered.at['cap100','v1'] = get_mean_f1_filtered(base_path+'MobileNet_caped_100_data_aug_v1/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean_filtered.at['cap100','v2'] = get_mean_f1_filtered(base_path+'MobileNet_caped_100_data_aug_v2/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean_filtered.at['cap100','v3'] = get_mean_f1_filtered(base_path+'MobileNet_caped_100_data_aug_v3/P_R_F1_MobileNet_input_test.p')

df_data_aug_comparaison_f1_mean_filtered.at['cap300','None'] = get_mean_f1_filtered(base_path+'MobileNet_caped_300_data_aug_none/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean_filtered.at['cap300','v0'] = get_mean_f1_filtered(base_path+'MobileNet_caped_300_data_aug_v0/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean_filtered.at['cap300','v1'] = get_mean_f1_filtered(base_path+'MobileNet_caped_300_data_aug_v1/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean_filtered.at['cap300','v2'] = get_mean_f1_filtered(base_path+'MobileNet_caped_300_data_aug_v2/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean_filtered.at['cap300','v3'] = get_mean_f1_filtered(base_path+'MobileNet_caped_300_data_aug_v3/P_R_F1_MobileNet_input_test.p')

df_data_aug_comparaison_f1_mean_filtered.at['full','None'] = get_mean_f1_filtered(base_path+'MobileNet_full_data_aug_none/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean_filtered.at['full','v0'] = get_mean_f1_filtered(base_path+'MobileNet_full_data_aug_v0/P_R_F1_MobileNet_input_test.p')
df_data_aug_comparaison_f1_mean_filtered.at['full','v1'] = get_mean_f1_filtered(base_path+'MobileNet_full_data_aug_v1/P_R_F1_MobileNet_input_test.p')

df_data_aug_comparaison_f1_mean_filtered

             None     v0     v1     v2     v3
full         0.56  0.564  0.451    NaN    NaN
cap100       0.74  0.788  0.748  0.802  0.739
cap300      0.768  0.925  0.906  0.932  0.887
filled1000    NaN    NaN    NaN    NaN    NaN
iNat1000      NaN    NaN    NaN    NaN    NaN
iNat5000      NaN    NaN    NaN    NaN    NaN