In [1]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
import numpy as np

In [14]:
df_data_aug_comparaison = pd.DataFrame(index=["full","cap300","cap100","filled1000","iNat1000","iNat5000"],
                                       columns=["None","v0","v1","v2","v3",])

In [15]:
df_data_aug_comparaison

           None   v0   v1   v2   v3
full        NaN  NaN  NaN  NaN  NaN
cap300      NaN  NaN  NaN  NaN  NaN
cap100      NaN  NaN  NaN  NaN  NaN
filled1000  NaN  NaN  NaN  NaN  NaN
iNat1000    NaN  NaN  NaN  NaN  NaN
iNat5000    NaN  NaN  NaN  NaN  NaN

In [24]:
df_data_aug_comparaison.at['full','None'] = 0.899
df_data_aug_comparaison.at['cap300','None'] = 0.823
df_data_aug_comparaison.at['cap100','None'] = 0.791

In [25]:
df_data_aug_comparaison

             None   v0   v1   v2   v3
full        0.899  NaN  NaN  NaN  NaN
cap300      0.823  NaN  NaN  NaN  NaN
cap100      0.791  NaN  NaN  NaN  NaN
filled1000    NaN  NaN  NaN  NaN  NaN
iNat1000      NaN  NaN  NaN  NaN  NaN
iNat5000      NaN  NaN  NaN  NaN  NaN

In [22]:
with open('../data/pickles/mobilenet_caped_labels_100/P_R_F1_global_MobileNet_input_test.p', 'rb') as fp:
    _ = pickle.load(fp)

In [23]:
_

[0.831, 0.754, 0.791]

In [26]:
df_data_aug_comparaison.to_pickle("../data/pickles/data_augmentation/df_data_aug_comparaison.p")