# Keep only the birds

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [11]:
unwanted_labels_list = ['ECUROU','MULGRI']
df_input = pd.read_csv('../data/raw_data/raw_input_not_normalized_with_resolution.csv',
                       names = ["path","x1","x2","y1","y2","label","height","width"])
for label in unwanted_labels_list:
    df_input = df_input[(df_input.label != label)]

In [12]:
df_input['label'].unique()

array(['MESCHA', 'SITTOR', 'MESBLE', 'MESNON', 'PINARB', 'ACCMOU',
       'ROUGOR', 'VEREUR', 'TOUTUR', 'MOIDOM', 'PIEBAV', 'CAMPAG',
       'MESNOI', 'MESHUP'], dtype=object)

In [13]:
df_input.to_csv('../data/raw_data/raw_input_only_birds.csv', header=False)

In [15]:
train_onlybirds, test_onlybirds = train_test_split(df_input, test_size=0.30)

In [16]:
train_onlybirds

,path,x1,x2,y1,y2,label,height,width
756,task_05-01-2021/2021-01-05-17-33-42.jpg,835.584,407.0208,1746.432,989.7536,ACCMOU,1920,1088
6560,task_20210615_Lab/2021-06-15-09-11-13.jpg,1329.600,229.2840,1597.824,567.0000,MESCHA,1920,1080
13820,task_21-01-2021/2021-01-21-13-42-10.jpg,908.928,337.4976,1258.176,737.0112,MESBLE,1920,1088
13950,task_21-01-2021/2021-01-21-14-03-36.jpg,764.160,275.8080,1315.968,627.0144,MESCHA,1920,1088
6344,task_20210525_UPS/20210525-164853_(30.0).jpg,611.712,349.1392,1917.312,997.9136,PIEBAV,1920,1088
...,...,...,...,...,...,...,...,...
7917,task_20210623_balacet/2021-06-23-17-12-25.jpg,1158.528,505.5480,1876.416,1080.0000,ACCMOU,1920,1080
12670,task_20211204_Orlu/2021-12-23-16-09-49.jpg,892.608,454.8960,1481.472,823.5000,MESCHA,1920,1080
8478,task_2021_11_03-04_cescau4/2021-11-03-11-24-54...,1377.792,475.0920,1564.992,678.1320,MESNON,1920,1080
11774,task_20210612_1_Lab/2021-06-12-06-27-31.jpg,1020.864,281.3400,1410.624,700.0560,MESCHA,1920,1080
7849,task_20210623_balacet/2021-06-23-13-40-10.jpg,460.416,301.6440,1079.808,712.6920,MESCHA,1920,1080

In [17]:
train_onlybirds.to_csv('../data/input_only_birds/input_train_random_only_birds.csv', header=False,index=False)

In [18]:
test_onlybirds.to_csv('../data/input_only_birds/input_test_random_only_birds.csv', header=False,index=False)