In [1]:
import pandas as pd
import copy

In [2]:
dataset_test = pd.read_csv("../../data/inputs/input_all.csv",
                           names=['task_name','xmin','xmax','ymin','ymax','label','h','w'])
dataset_test.head(3)

,task_name,xmin,xmax,ymin,ymax,label,h,w
0,task_05-01-2021/2021-01-05-15-58-14.jpg,1067.136,389.6128,1354.560,596.1152,MESCHA,1920,1088
1,task_05-01-2021/2021-01-05-15-58-14.jpg,885.696,603.8400,1918.080,1088.0000,SITTOR,1920,1088
2,task_05-01-2021/2021-01-05-15-58-16.jpg,845.184,223.6928,1057.536,401.1456,MESCHA,1920,1088

In [3]:
def df_to_grouped_csv(_df):
    df = copy.deepcopy(_df)
    df[['_task_name', 'file_name']] = df['task_name'].str.split('/', 1, expand=True)
    df_group = df.groupby(['_task_name'])
    for name, group in df_group:
        outfile = f"{name}.csv"
        #group['task_name'] = group['_task_name'] + '-' + group['file_name']
        group[['task_name','xmin','xmax','ymin','ymax','label','h','w']].to_csv(
            f"../../data/inputs/input_all_per_tasks/{outfile}", 
            index=False,header=False)

In [4]:
df_to_grouped_csv(dataset_test)

In [5]:
import os
list(os.listdir('../../data/inputs/input_all_per_tasks'))

['task_2021-03-01_10.csv',
 'task_20210624_balacet.csv',
 'task_20210611_Lab.csv',
 'task_06-01-2021.csv',
 'task_20210523_UPS.csv',
 'task_20210615_Lab.csv',
 'task_20210205.csv',
 'task_20211204_Orlu.csv',
 'task_05-01-2021.csv',
 'task_20210228.csv',
 'task_2021-03-01_11.csv',
 'task_2021-03-01_15.csv',
 'task_2021-03-01_09.csv',
 'task_2021-03-01_07.csv',
 'task_20210217.csv',
 'task_20210227.csv',
 'task_20210612_1_Lab.csv',
 'task_20210416_UPS.csv',
 'task_2021-03-01_12.csv',
 'task_20210526_UPS.csv',
 'task_20210525_UPS.csv',
 'task_2021-03-01_08.csv',
 'task_20210705-07_balacet.csv',
 'task_2021-03-01_13.csv',
 'task_2021-03-01_17.csv',
 'task_20210419_UPS.csv',
 'task_2021-03-01_14.csv',
 'task_2021_11_03-04_cescau4.csv',
 'task_19-01-2021.csv',
 'task_20210418_UPS.csv',
 'task_20210623_balacet.csv',
 'task_MOIDOM_ODJ.csv',
 'task_2021-03-01_18.csv',
 'task_20210616_Lab.csv',
 'task_18-01-2021.csv',
 'task_2021-03-01_16.csv',
 'task_20210409.csv',
 'task_20210420.csv',
 'task_20210625_balacet.csv',
 'task_20210417_UPS.csv',
 'task_20210413_UPS.csv',
 'task_20210412.csv',
 'task_20210415_UPS.csv',
 'task_21-01-2021.csv',
 'task_20210414.csv']